<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-12">
                    <div class="download-text">
                        <h3>Baixe Nosso Aplicativo</h3>
                        <p>Tenha controle total das suas finanças na palma da mão.<br> Organize despesas, acompanhe
                            metas e alcance seus objetivos onde estiver.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="download-button">
                        <div class="button">
                            <a class="btn" href="#"><i class="lni lni-apple"></i> App Store</a>
                            <a class="btn" href="#"><i class="lni lni-play-store"></i> Google Play</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="f-about single-footer">
                            <div class="logo">
                                <img src="/img/logo.svg" alt="Logo">
                            </div>
                            <p>Comece a construir seu futuro financeiro com o Savelifi, a plataforma ideal para
                                simplificar o gerenciamento das suas finanças.</p>
                            <ul class="contact-address">
                                <li><span>Endereço:</span> Rua Santo Antonio, 55 Centro - Juiz de Fora, MG</li>
                                <li><span>Email:</span> contato&#64;savelifi&#46;com</li>
                                <li><span>Telefone:</span> (32) 9 9999-9999</li>
                            </ul>
                            <div class="footer-social">
                                <ul>
                                    <li><a href="#"><i class="lni lni-facebook-original"></i></a></li>
                                    <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                                    <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                                    <li><a href="#"><i class="lni lni-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-12">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-footer f-link">
                                    <h3>Para Usuários</h3>
                                    <ul>
                                        <li><a href="#">Painel de Controle</a></li>
                                        <li><a href="#">Destaques de Finanças</a></li>
                                        <li><a href="#">Metas e Objetivos</a></li>
                                        <li><a href="#">Relatório Financeiro</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-footer f-link">
                                    <h3>For Employers</h3>
                                    <ul>
                                        <li><a href="#">Publicar Novo Serviço</a></li>
                                        <li><a href="#">Lista de Profissionais</a></li>
                                        <li><a href="#">Categorias de Serviços</a></li>
                                        <li><a href="#">Relatórios Financeiros</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-footer newsletter">
                                    <h3>Assine Nossa Newsletter
                                    </h3>
                                    <p>Inscreva-se para receber dicas de economia, novidades sobre finanças pessoais e
                                        os
                                        melhores conteúdos para alcançar suas metas.</p>
                                    <form action="#" method="get" target="_blank" class="newsletter-inner">
                                        <input name="EMAIL" placeholder="Your email address" class="common-input"
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Your email address'" required="" type="email">
                                        <div class="button">
                                            <button class="btn">Inscreva-se agora! <span
                                                    class="dir-part"></span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>