<section class="hero-area style3">
    <!-- Single Slider -->
    <div class="hero-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 co-12">
                    <div class="inner-content">
                        <div class="hero-text">
                            <h1 class="wow fadeInUp" data-wow-delay=".3s"
                                style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                Savelifi<br>para uma vida mais organizada
                            </h1>
                            <p class="wow fadeInUp" data-wow-delay=".5s"
                                style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                                Organizar suas finanças pessoais pode ser desafiador.<br>
                                Para simplificar sua vida, apresentamos o Savelifi,<br>
                                uma plataforma intuitiva que oferece controle completo do seu orçamento e despesas.<br>
                                Alcance seus objetivos financeiros com mais clareza e tranquilidade.
                            </p>
                            <div class="button wow fadeInUp" data-wow-delay=".7s"
                                style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                                <a href="#" class="btn">Post a Job</a>
                                <a href="#" class="btn btn-alt">See Our Jobs</a>
                            </div>
                        </div>
                        <div class="job-search-wrap-two mt-50 wow fadeInUp" data-wow-delay=".9s"
                            style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInUp;">
                            <div class="trending-keywords mt-30">
                                <div class="keywords style-two">
                                    <span class="title">Principais Palavras-Chave:</span>
                                    <ul>
                                        <li><a href="#">Orçamento Pessoal</a></li>
                                        <li><a href="#">Controle de Gastos</a></li>
                                        <li><a href="#">Metas de Economia</a></li>
                                        <li><a href="#">Planejamento Financeiro</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-0 col-md-8 offset-md-2 co-12">
                    <form class="home-search wow fadeInRight" data-wow-delay=".5s"
                        style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                        <div class="form-group">
                            <label class="font-weight-bold text-dark">What?</label>
                            <div class=" form-location">
                                <input type="text" class="form-control" placeholder="What are you looking for...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold text-dark">Where?</label>
                            <div class="form-location">
                                <input type="text" class="form-control" placeholder="Where...">
                            </div>
                        </div>
                        <div class="form-group select-border">
                            <label class="font-weight-bold text-dark">Choose Category?</label>
                            <select class="form-control basic-select">
                                <option>All categories </option>
                                <option>Finance </option>
                                <option>Sale/Markting </option>
                                <option>Education/Training </option>
                                <option>Technologies</option>
                                <option>Art/Design</option>
                                <option>Healthcare</option>
                            </select>
                        </div>
                        <div class="button">
                            <a class="btn" href="#"> Search </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Single Slider -->
</section>

<section class="apply-process section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
                <div class="process-item">
                    <i class="lni lni-user"></i>
                    <h4>Crie sua Conta</h4>
                    <p>Registre-se para acessar seu painel de controle financeiro e manter suas finanças sempre
                        organizadas.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="process-item">
                    <i class="lni lni-dollar"></i>
                    <h4>Planeje Seu Orçamento</h4>
                    <p>Defina limites para cada categoria de despesa e acompanhe suas metas de orçamento para uma gestão
                        financeira eficaz.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="process-item">
                    <i class="lni lni-wallet"></i>
                    <h4>Controle Suas Despesas</h4>
                    <p>Registre suas despesas, monitore seus gastos em tempo real e alcance o equilíbrio financeiro.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="job-category section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <span class="wow fadeInDown" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">Categoria de
                        Finanças</span>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Escolha a
                        Categoria que Precisa</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s"
                        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Organize suas
                        finanças com categorias personalizadas. Cada detalhe importa para uma gestão financeira eficaz e
                        simplificada.</p>
                </div>
            </div>
        </div>
        <div class="cat-head">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-cat wow fadeInUp" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="icon">
                            <i class="lni lni-home"></i>
                        </div>
                        <h3>Despesas Fixas<br>Aluguel, contas de serviços</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-cat wow fadeInUp" data-wow-delay=".4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="icon">
                            <i class="lni lni-layers"></i>
                        </div>
                        <h3>Despesas Variáveis<br>Supermercado, transporte</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-cat wow fadeInUp" data-wow-delay=".6s"
                        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        <div class="icon">
                            <i class="lni lni-camera"></i>
                        </div>
                        <h3>Lazer e Entretenimento<br>Filmes, restaurantes, cinema</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-cat wow fadeInUp" data-wow-delay=".8s"
                        style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                        <div class="icon">
                            <i class="lni lni-trend"></i>
                        </div>
                        <h3>Investimentos<br>Ações, fundos de investimento</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-cat wow fadeInUp" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="icon">
                            <i class="lni lni-graduation"></i>
                        </div>
                        <h3>Educação<br>Cursos, materiais didáticos</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-cat wow fadeInUp" data-wow-delay=".4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="icon">
                            <i class="lni lni-ambulance"></i>
                        </div>
                        <h3>Saúde e Bem-Estar<br> Plano de saúde, academia</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-cat wow fadeInUp" data-wow-delay=".6s"
                        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        <div class="icon">
                            <i class="lni lni-restaurant"></i>
                        </div>
                        <h3>Viagens e Férias<br>Passagens, hospedagem, excursão</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-cat wow fadeInUp" data-wow-delay=".8s"
                        style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                        <div class="icon">
                            <i class="lni lni-fireworks"></i>
                        </div>
                        <h3>Poupança e Objetivos<br>Fundo de emergência, aposentadoria</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="call-action overlay section">
    <div class="container">
        <div class="row ">
            <div class="col-lg-8 offset-lg-2 col-12">
                <div class="inner">
                    <div class="section-title">
                        <span class="wow fadeInDown" data-wow-delay=".2s"
                            style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">COMECE A
                            ORGANIZAR SUAS FINANÇAS
                        </span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Não espere
                            para tomar controle. Comece agora mesmo!</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s"
                            style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;"> Cadastre-se
                            no Savelifi e tenha suas finanças
                            organizadas e acessíveis em um só lugar. Simplifique o
                            controle de despesas, defina metas e acompanhe seu progresso financeiro para alcançar seus
                            objetivos.</p>
                        <div class="button wow fadeInUp" data-wow-delay=".8s"
                            style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                            <a href="#" class="btn"><i class="lni lni-download"></i>Baixe nossa FAQ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="client-logo-section">
    <div class="container">
        <div class="client-logo-wrapper">
            <div class="tns-outer" id="tns1-ow">
                <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span
                        class="current">23 to 25</span> of 9</div>
                <div id="tns1-mw" class="tns-ovh">
                    <div class="tns-inner" id="tns1-iw">
                        <div class="client-logo-carousel d-flex align-items-center justify-content-between  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal"
                            id="tns1" style="transform: translate3d(-70.9677%, 0px, 0px);">
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="assets/images/clients/client3.png" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="assets/images/clients/client4.png" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="assets/images/clients/client1.png" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="assets/images/clients/client2.png" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="assets/images/clients/client3.png" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="img/logo.svg" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="assets/images/clients/client5.png" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="assets/images/clients/client6.png" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="assets/images/clients/client2.png" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="assets/images/clients/client3.png" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="assets/images/clients/client4.png" alt="#">
                            </div>
                            <div class="client-logo tns-item" id="tns1-item0" aria-hidden="true" tabindex="-1">
                                <img src="assets/images/clients/client1.png" alt="#">
                            </div>
                            <div class="client-logo tns-item" id="tns1-item1" aria-hidden="true" tabindex="-1">
                                <img src="assets/images/clients/client2.png" alt="#">
                            </div>
                            <div class="client-logo tns-item" id="tns1-item2" aria-hidden="true" tabindex="-1">
                                <img src="assets/images/clients/client3.png" alt="#">
                            </div>
                            <div class="client-logo tns-item" id="tns1-item3" aria-hidden="true" tabindex="-1">
                                <img src="assets/images/clients/client4.png" alt="#">
                            </div>
                            <div class="client-logo tns-item" id="tns1-item4" aria-hidden="true" tabindex="-1">
                                <img src="assets/images/clients/client5.png" alt="#">
                            </div>
                            <div class="client-logo tns-item" id="tns1-item5" aria-hidden="true" tabindex="-1">
                                <img src="assets/images/clients/client6.png" alt="#">
                            </div>
                            <div class="client-logo tns-item" id="tns1-item6" aria-hidden="true" tabindex="-1">
                                <img src="assets/images/clients/client2.png" alt="#">
                            </div>
                            <div class="client-logo tns-item" id="tns1-item7" aria-hidden="true" tabindex="-1">
                                <img src="assets/images/clients/client3.png" alt="#">
                            </div>
                            <div class="client-logo tns-item" id="tns1-item8" aria-hidden="true" tabindex="-1">
                                <img src="assets/images/clients/client4.png" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="assets/images/clients/client1.png" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="assets/images/clients/client2.png" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned tns-slide-active">
                                <img src="assets/images/clients/client3.png" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned tns-slide-active">
                                <img src="assets/images/clients/client4.png" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned tns-slide-active">
                                <img src="assets/images/clients/client5.png" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="assets/images/clients/client6.png" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="assets/images/clients/client2.png" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="assets/images/clients/client3.png" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="assets/images/clients/client4.png" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="assets/images/clients/client1.png" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="assets/images/clients/client2.png" alt="#">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .single-cat .top-side img {
        width: 100%;
        height: 100%;
        max-width: 800px;
        max-height: 600px;
        object-fit: cover;
    }
</style>